$azul: #327da8;
@mixin margenes {
    margin-right: auto;
    margin-left: auto;
}

.count {
  background-image: linear-gradient(to bottom right, lightblue, $azul);
  border: double 5px $azul;
  width: 90%;
  @include margenes;
  .count__list{
    background-color: white;
    border: blanchedalmond 5px solid;
    width: 80%;
    padding: 20px;
      li {
        margin: 5px 30px;
        list-style: none;
        height: 20px;
      }
  }
}
ul {
  color: blue;
  display: flex;
  padding: 10px 20px;
  background-color: whitesmoke;
}


.count__button {
  background-color: white;
  border: blanchedalmond 5px solid;
  width: 80%;
  padding: 20px;
  background-image: linear-gradient(to bottom right, lightblue, white);
}
.count__button:hover {
  border: solid black 3px;
  background-image: linear-gradient(to top left, lightblue, white);
}
