$azul: #327da8;
$meliBackground: #3483fa;
@mixin margenes {
  margin-right: auto;
  margin-left: auto;
}

.count {
  margin-top: 0;
  display: flex;
  flex-direction: column;
 
  .count__list {
    list-style-type: none;
    display: flex;
    li {
      font-size: 30px;
      background: white;
      padding: 25px;
    }
  }
  .count__button{
    background-color: $meliBackground;
    @include margenes;
    padding: 10px 30px;
    border-radius: 5%;
  }

  
}
